p {
	border-bottom: 3px solid orange;
}

.kermit {
	border: 3px solid green;
}

#main-div-1 {
	padding: 10px;
}

/* CMMD + ? MAKES A COMMENT! */

#main-div-2 .kermit {
	border: 3px dotted purple;
}

#main-div-2 > * {
	border: 2px dotted blue;
}

h2 ~ p {
	border: 3px solid pink;
}

#li-1 {
	font-size: 30px;
}

#li-2 {
	font-weight: bold;
}

# li-3 {
	text-transform: uppercase;
}

#mystery-ul {
	font-family: 'Mystery Quest';
}

#flex-kermit {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#flex-kermit img {
	max-width: 300px;
}

a:hover {
	font-size: 50px;
}

a:active {
	background-color: green;
}

input:focus {
	background-color: yellow;
}

.sub-div li:nth-child(2n + 1) {
	border: 5px solid pink;
}

.sub-div li:nth-child(2n) {
	border: 5px solid blue;
}

.sub-div li:nth-of-type(2n) {
	color: blue;
}

section p:nth-child(2) {
	color: red;
}

section p:nth-of-type(2) {
	color: orange;
}


#main-div-1::before {
	content: "\201C";
	font-size: 60px;
	font-weight: bold;
	color: purple;
}

#main-div-1::after {
	content: "$$$$$$";
}












